<h2>All Genres</h2>

<ul>
<% @genres.each do |genre| %>
  <li class="genre-list-item"><%= link_to genre.name, genre %>
      <div class="edit-delete-genre-links">
        <%= link_to "Edit", edit_genre_path(genre), class: "try" %> | 
        <%= link_to "Delete", genre_path(genre), method: :delete %>
      </div>
  </li>
<% end %>
</ul>

<p><%= link_to "Add Genre", new_genre_path, class: 'button' %></p>