.edit-delete-genre-links {
  display: inline-block;
  float: right;
  margin-right: 22rem;
}

.genre-list-item {
  line-height: 25px;
  
  a {
    padding: 5px;
    border-radius: 2px;
    text-decoration: none;
  }
}